.cart-item {
    padding: 15px;
    border: 1px solid #e8e8e8;
    text-align: left;
    margin-top: 11px;
    position: relative;
}

.cart-garbage {
    width: 25px;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}

.cart-footer {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #e8e8e8;
}

.cart-spinner {
    padding-top: 15px;
}

.cart-item-name {
	font-weight: bold;
	margin: 0;
    margin-bottom: 5px;
}

.cart-total {
    text-align: left;
    margin-bottom: 10px;
}
