.app {
	text-align: center;
}

.app-logo {
	animation: app-logo-spin infinite 20s linear;
	height: 80px;
}

.app-header {
	background-color: #222;
	height: 50px;
	padding: 20px;
	color: white;
}

.app-title {
	font-size: 1.5em;
}

.app-intro {
	font-size: large;
}

.app-shopping-cart {
    width: 40px;
    position: absolute;
    top: 25px;
	right: 20px;
	cursor: pointer;
}

.app-number-of-items-badge {
    top: 34px;
    right: 2px;
    position: absolute;
    border-radius: 50%;
    width: 15px;
    font-size: 14px;
    height: 16px;
    padding: 4px;
    background: #fff;
    border: 2px solid #e8e8e8;
    color: #666;
    text-align: center;
    cursor: pointer;
}

@-webkit-keyframes app-logo-spin {
	from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes app-logo-spin {
	from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
