.app {
	text-align: center;
}

.app-header {
	background-color: #222;
	height: 50px;
	padding: 20px;
	color: white;
}

.app-header a {
    color: white;
    text-decoration: none;
}

.app-title {
	font-size: 1.5em;
}

.app-shopping-cart {
    width: 40px;
    position: absolute;
    top: 25px;
	right: 20px;
	cursor: pointer;
}

.app-number-of-items-badge {
    top: 34px;
    right: 2px;
    position: absolute;
    border-radius: 50%;
    width: 15px;
    font-size: 14px;
    height: 16px;
    padding: 4px;
    background: #fff;
    border: 2px solid #e8e8e8;
    color: #666;
    text-align: center;
    cursor: pointer;
}
